<div id="notify" class="container-fluid">
	
  <div class="date row">	  	
  	<p (updateTime)="updateMyTime()">{{date | date}}</p>
  </div>
  <div class="items">
  	<div class="itemCount row">  		
  		<p>{{assignedTask}}</p>
  		<p>{{reminder}}</p>
  		<p>{{notification}}</p>  		
  	</div>
  	<div class="itemTitle row">
  		<p>Assigned Tasks</p>
  		<p>Reminders</p>
  		<p>Notifications</p>
  	</div>
  </div>
  <div class="workspace row">
  	<p href="/">Go to My Workspace ></p>
  </div>
  <div class="content">	
  	<div *ngFor="let data of sampleData; let i = index">	
  		<p>{{data.tempTime}}</p>
  		<i class="fa fa-times" aria-hidden="true" (click)="removeItem(i)"></i>
  		<p class="description">{{data.description}}</p><p class="showItem" (click)="selectItem(i)">{{data.viewItem}} ></p>
  	</div>
  </div>
</div>
