<div id="notify" class="container-fluid">
	
  <div class="date row">	  	
  	<p (updateTime)="updateMyTime()">{{date | date}}</p>
  </div>
  <div class="items">
  	<div class="itemCount row">  		
  		<p>{{assignedTask}}</p>
  		<p>{{reminder}}</p>
  		<p>{{notification}}</p>  		
  	</div>
  	<div class="itemTitle row">
  		<p>Assigned Tasks</p>
  		<p>Reminders</p>
  		<p>Notifications</p>
  	</div>
  </div>
  <div class="workspace row">
  	<p href="/">Go to My Workspace ></p>
  </div>
  <div class="content">
  	<!-- ; let i = index; -->
  	<div *ngFor="let data of sampleData; let i = index">
  		
  		<p>{{data.tempTime}}</p>
  		<i class="fa fa-times" aria-hidden="true" (click)="removeItem(i)"></i>
  		<p>{{data.description}}</p><p (click)="selectItem(i)" style="color: blue;">{{data.viewItem}} ></p>
  	</div>
  </div>
</div>


<!-- <p *ngIf="tempDate == 'Yesterday'">{{tempDate}}</p>
<p *ngIf="hoursLapsed && hoursLapsed > 1">{{hoursLapsed}} Hours ago</p>
<p *ngIf="hoursLapsed && hoursLapsed == 1">{{hoursLapsed}} Hour ago</p>
<p *ngIf="minutesLapsed && minutesLapsed == 1">{{minutesLapsed}} Minute ago</p>
<p *ngIf="minutesLapsed && minutesLapsed > 1">{{minutesLapsed}} Minutes ago</p> -->