

#notify {
	float: right;
	width: 375px;
	background-color: white;	
	z-index: 99;
	/*position: fixed;*/
}

.date {
	padding-left: 26px;
	border-top: 10px solid #cccccc;
	border-bottom: 1px solid #d5d5d5;
}

.date p {
	font-family: font95196;
	font-size: 28px;
	color: #333; 
	margin-top: 10px;
}

.itemCount {
	padding-left: 26px;
	padding-top: 17px;		
}

.itemCount p {
	font-family: font95183;	
	font-size: 80px;
	color: #47acf5;
	float: left;
	margin-bottom: 0px;
}

.itemCount p:nth-child(2), p:nth-child(3) {
	padding-left: 60px;
}

.itemTitle {
	position: relative;
	top: -20px;
	padding-left: 26px;
}

.itemTitle p {		
	font-family: font95207;
	font-size: 16px;
	color: #999;
	line-height: 23px;
	float: left;
}

.itemTitle p:first-child {
	width: 71.05px;	
	white-space: initial;
}

.itemTitle p:nth-child(2), p:nth-child(3) {
	padding-left: 60px;
}

.workspace {
	background-color: #f7f7f7;
	height: 32px;
	border-top: 1px solid #d6d6d6;
}

.workspace p {
	font-family: font95207;
	font-size: 14px;
	color: #4c9dd6;
	text-align: center;
	padding-top: 6px;	
}

.content {
	margin-top: 10px;
	padding-left: 11px;
}

.content p {
	margin-top: 5px;
}

.content p:first-child {	
	font-family: font95202;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	float: left;
}

.content i {
	float: right;
	padding-right: 13px;
}

.description {
	font-size: 14px;
	color: #757575;
	position: relative;
	padding-top: 5px;
	top: 15px;
	left: -60px;	
}

.content div {
	border-bottom: 1px solid #ccc;	
}

.showItem {	
	padding-top: 5px;	
	font-family: font95207;
	font-size: 14px;
	color: #4c9dd6;
}

