/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

$backgroundColor: #efefef;

@mixin my-border($color) {
  border: 1px solid $color;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 1px 4px 0 rgba(0,0,0,0.19);
}

body {
  background: $backgroundColor;
  /*@include my-border(green);*/
}

.col-md-6, .col-md-3 {
	@include my-border(#e2e2e2);
}

h1 {
	text-align: center;
}